@{
    ViewData["Title"] = "Rezultat akcji";
}

<div class="text-center">
    <h1 class="display-4">Formularz</h1>
    <form asp-action="TestFormValueBinding" method="POST">
        <input type="text" name="email"/>
        <input type="submit" />
    </form>
</div>
